<html><body>
  <a href="{% if state %}{{url_for("turn_onoff", state=0)}}{% else %}{{url_for("turn_onoff", state=1)}}{% endif%}"><img src="/static/switch.svg"/ height=50%></a>
<img src="/static/bulb{% if state %}on{% else %}off{% endif%}.svg"/ height=50%>
</body></html>
